/* CSS Document */
.{ 
   margin:0;
   padding:0;
  }
 body{
  font-family: 'Merriweather',serif;
  background-color:#f9fafc;
  }
 .navbar{
   display:flex;
   align-items:center;
   justify-content:space-around;
   background-color:#FFFFFF;
  }
 .navbar__brand{
    width:100px;
  }
   
 .navbar__logo {
    width:100%;
	}
	
 .button__primary{
   background-image:linear-gradient(
    to right,
	#ff512f 0%,
	#dd2476 51%,
	#ff512f 100%
  );
  color:#fff;
  border:none;
  padding:12px;
  border-radius:6px;
  font-weight:600;
  
 }
 	
 .button__primary:hover{
  border:2px solid  #FF6767;
  cursor:pointer;
 }
 
 .container{
  margin:0 auto;
  max-width:100%;
  padding:20px;
  }
 .hero__image__container{
  width:100% ;
  }
  
  .hero__image{
  width :100% ;
  border-radius:8px;
  box-shadow:0 20px 50px 12px rgb(0 0 0 / 25%);
  }
  .hero__text{
   font-weight:800;
   font-size:30px;
   margin:20px 0;
   color:#1d3557;
  }
  .food__card__description{
  padding:10px;
  }
  .food__card{
   background-color:#f9f9f9;
  }
  .food__card__image__container{
  width:100%;
  }
  .food__image{
 
  border-radius:8px 8px 0 0; /*provide top and right border radius no border radius for left and bottom */
   width:100%;
  }
   .explore__menu__text{
   margin-top:30px;
   margin-bottom::20px;
   text-align:center;
   font-size:30px;
   font-weight:800;
   color:#1d3557;
   }
 
   @media(min-width:768px){   
   .explore__menu__lists{/*invisible division which contains these 3 lists it push to create kind of margin using margin top */
   margin-top:45px;
   /*padding-top:30px;*/
   display:flex;
   gap:15px;
   padding:0 30px;
   }
   .explore__menu__container{
   position:relative;
   }
   .explore__menu__gradient__bg{
	position:absolute;
	top:0;
	left:0;
    width:100%;
	height:100%;
    background-image:linear-gradient(
    to right,
	#ff512f 0%,
	#dd2476 51%,
	#ff512f 100%
  );	
    z-index:-3;/*its usually provide for the gradient box should go behind the explore menu content*/
	transform:skewy(-5deg);	
	}
   #pizza__card{
   margin-top:-20px;
   margin-bottom:30px;
   }
   .navbar{
    justify-content:space-between;
    padding:10px 30px;
    }
   .hero__container{
    margin-top:20px;
	display:flex; 
    flex-direction:row-reverse; 
    align-items:center;
	 }
   }
   
   @media(min-width:1024px){
    .explore__menu__lists{
     gap:35px;
     }
    .container{
	 max-width:70%;
	 }
    .navbar__brand{
	 width:150px;
	
	 }
	.button__primary{
	 padding:20px;
	 font-size:20px;
	 }
    .hero__description{
	width:100%;	
	}
	.hero__text{
	font-size:50px;
	}
	.explore__menu__text{
	font-size:48px;
	}
	
   }
	 
	
   
 